.persons {
    background: #0d6efd;
    width: 100%;
    height: 100vh;
}

.persons h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
    padding-bottom: 2rem;
}

.persons .table {
    width: 100%;
    margin: 0;
}

td .btn {
    margin-right: 5px;
}

h1 .btn {
    margin-left: 5px;
}

.persons .table-container {
    max-height: 591px;
    overflow-y: auto;
    width: 75%;
    margin: 0 auto;
}

.persons .table-container thead th { /* header fica sempre visível*/
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

.persons .table-container::-webkit-scrollbar {
    width: 10px;
}

.persons .table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.persons .table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
