.crime-style {
    background: #4670a9;
    width: 100%;
    min-height: 100vh;
}

.crime-style h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
}

.crime-style .table {
    width: 100%;
    margin: 0;
}

.crime-style .button-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* espaço entre botões */
    margin: 1rem auto;
}

h1 .btn {
    margin-left: 5px;
}

td .btn {
    margin-right: 5px;
}

.crime-style .table-container {
    max-height: 591px;
    overflow-y: auto;
    width: 30%;
    margin: 0 auto;
}

.crime-style .table-container thead th { /* header fica sempre visível*/
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

.crime-style .table-container::-webkit-scrollbar {
    width: 10px;
}

.crime-style .table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.crime-style .table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
